.archivo-main {
    color: #333;
    font-family: sans-serif;
    padding: 4rem 20rem;
    margin: 0;
    background: #D5D5D5;
}

.archivo-main .regresar-inicio {
    padding-bottom: 5rem;
}

.archivo-main .regresar-inicio a {
    text-decoration: none;
    color: #111;
}

.regresar-inicio a, .proyecto ul a {
    font-weight: 600;
}

.archivo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 2rem;
}

.archivo section {
  background: #FFF;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.archivo h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #333;
    padding-top: 0.5rem;
    margin-top: 0;
}

.texto-enlace {
    cursor: pointer;
}

.proyecto ul {
    padding-left: 1rem;
}

.proyecto ul a {
    color: #111;
    text-decoration: none;
}

.proyecto ul a:hover {
    text-decoration: underline;
}





@media (max-width: 1100px) {
    .archivo-main {
        padding: 4rem 7rem 7rem 7rem;
    }
}

@media (max-width: 900px) {
    .archivo-main {
        padding: 3rem;
    }

    .archivo {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}

@media (max-width: 480px) {
    .archivo-main {
        padding: 3rem 1.5rem;
    }

    .archivo {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}