.blog-main {
    padding: 10rem 15rem;
    background-color: #111;
}

::-webkit-scrollbar {
    display: none;
}

#contenedor-blog h1 {
    color: #EEE;
}

.tablero {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#contenedor-blog h1 {
    margin-bottom: 4.5rem;
    font-size: 2rem;
}





@media (max-width: 1200px) {
    .contenedor-blog {
        padding: 10rem 3.5rem;
    }
}

@media (max-width: 768px) {
    .blog-main {
        padding: 1rem 3.5rem;
    }
}

@media(max-width: 480px) {
    .blog-main {
        padding: 7rem 2rem 15rem 2rem;
    }

    #contenedor-blog h1 {
        margin-bottom: 3rem;
        font-size: 2rem;
    }
}
