.titulo, .fecha {
    font-style: italic;
}

.verso, .fecha {
    margin: 0;
}

.fecha, .derecha {
    text-align: right;
}

.centro {
    text-align: center;
}

.entrada-main {
    font-family: 'Times New Roman';
    background-color: #1C1311;
    padding: 3rem 20rem 5rem 20rem;
    color: #111;
}

.entrada-main .regresar-blog {
    padding-bottom: 5rem;
}

.entrada-main .regresar-blog p {
    text-decoration: none;
    font-weight: 500;
    color: #EEE;
}

.regresar-blog p {
    cursor: pointer;
}

.contenedor-texto {
    background-color: #EAEAEA;
    padding: 4rem;
    border-radius: 16px;
}

.contenedor-texto p {
    font-size: 18px;
    line-height: 1.8;
    font-weight: 500;
}





@media(max-width: 1000px) {
    .entrada-main {
        padding: 4rem;
    }

    .contenedor-texto {
        padding: 3.5rem;
    }
}

@media(max-width: 480px) {
    .entrada-main {
        padding: 3rem 1.5rem;
    }

    .contenedor-texto {
        padding: 3rem 1.7rem;
    }
}
