.contenedor-enlaces {
  background: #222;
  color: white;
  padding: 4rem 2.5rem 2.5rem 2.5rem;
  text-align: center;
}

.contenedor-enlaces h1 {
  padding-bottom: 0.5rem;
}

.enlaces {
  display: flex;
  justify-content: center;
}

.enlaces img {
  width: 25px;
  height: 25px;
  margin: 0 10px;
  cursor: pointer;
}

.invertir {
  filter: invert(1);
}
