.contenedor-tarjeta h3, .contenedor-tarjeta p {
  color: #EEE;
}

.tarjeta {
  padding: 1.5rem 2.5rem;
  border-radius: 8px;
  background-color: #222;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.01);
}

.contenedor-tarjeta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contenedor-tarjeta h3 {
  flex: 1;
  margin: 0;
}

.contenedor-tarjeta p {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
  color: #666;
}





@media(max-width: 480px) {
  .tarjeta {
    padding: 1rem 1.5rem;
  }

  .contenedor-tarjeta h3 {
    font-size: 16px;
  }

  .contenedor-tarjeta p {
    font-size: 14px;
  }
}
